* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  height: 100%;
  -webkit-perspective: 1000;
          perspective: 1000;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  background-image: url(../image/shadow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-perspective: 800;
          perspective: 800;
  background-color: #77817e;
}

.player {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-image: url(../image/play.png);
  background-size: cover;
}

.music_animation {
  -webkit-animation: player_animation 1.5s infinite ease;
          animation: player_animation 1.5s infinite ease;
}

@-webkit-keyframes player_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes player_animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.container h1 {
  font-size: 36px;
  color: #724119;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.container .img_box {
  width: 80%;
  height: 65vh;
  position: absolute;
  background-image: url(../image/sunflower.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  bottom: -6%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5F5F5;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  min-height: 80vh;
  min-width: 300px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}

.container .card .outer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d2c1acc0;
  padding: 15% 0;
}

.container .card .outer_box .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 120px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.829);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.container .card .outer_box .post p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  font-size: 16px;
  padding: 1%;
  letter-spacing: 2px;
  font-weight: 600;
  color: #8b731c;
}
/*# sourceMappingURL=all.css.map */